{% extends 'base.html.twig' %}

{% block title %}Mon compte - Salle de sport{% endblock %}

{% block pageTitle %}Mes informations{% endblock %}
{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('my_account') }}
{% endblock %}

{% block body %}
    <div class="main">

        <div class="card">
            {{ form(account_infos_form) }}
            {% if msg_account != null %}
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ msg_account }}</div>

                {% else %}

                    <div class="alert alert-success" role="alert">{{ msg_account }}</div>
                {% endif %}
            {% endif %}
        </div>

        <div class="card">
            {{ form(password_form) }}
            {% if msg_password != null %}
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ msg_password }}</div>

                {% else %}

                    <div class="alert alert-success" role="alert">{{ msg_password }}</div>
                {% endif %}
            {% endif %}
        </div>

        <div class="card">
            <label><strong>Etat de l'abonnement: </strong>{{ subscription_state_msg }}</label>
            {{ form(newsletter_form) }}
            {% if msg_newsletter != null %}
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ msg_newsletter }}</div>

                {% else %}

                    <div class="alert alert-success" role="alert">{{ msg_newsletter }}</div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

