{% extends 'base.html.twig' %}

{% block title %}Mon compte - Salle de sport{% endblock %}

{% block pageTitle %}Mes informations{% endblock %}
{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('my_account') }}
{% endblock %}

{% block body %}
    <div class="main">

        <div class="card">
            {{ form(account_infos_form) }}
        </div>

        <div class="card">
            {{ form(password_form) }}
        </div>

        <div class="card align-items-center">
            <p><strong>Votre abonnement: </strong></p>
            {% if user.offer is null %}
                <p>Non abonné</p>
                <a class="btn btn-primary" href="{{ path('show_offers') }}">Voir les offres</a>
            {% else %}
                <h4 class="my-0 font-weight-normal">{{ user.offer.name }}</h4>
                <h1 class="card-title pricing-card-title">{{ user.offer.price }} €<small class="text-muted">/ mois</small></h1>
                <form method="post" action="{{ path('unsubscribe_offer') }}">
                    <input type="hidden" name="_method" value="PUT">
                    <button type="submit" class="btn btn-danger">Résilier</button>
                </form>
            {% endif %}
        </div>

        <div class="card">
            <p><strong>Etat de l'abonnement à la newsletter: </strong>{{ newsletter_subscription_state_msg }}</p>
            {{ form(newsletter_form) }}
        </div>
    </div>
{% endblock %}

