{% extends 'base.html.twig' %}

{% block title %}Articles - Salle de sport{% endblock %}

{% block pageTitle %}Liste des articles de la rubrique {{ heading.titleHeading }}{% endblock %}
{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('read') }}
{% endblock %}

{% block body %}
    <div class="main">

        {% if heading.headingPages.count > 0 %}
            <table class="table">
                <tbody>
                {% for headingPage in heading.headingPages %}
                    <tr>
                        <td>
                            <h2 class="h2">{{ headingPage.titlePage }}</h2>
                            <p>{{ headingPage.contentPage | raw }}</p>
                            <br>
                            <p>Article rédigé par {{ headingPage.redactor.username }}.
                                Dernière modification le {{ headingPage.modificationDate | date("d/m/Y") }} à {{ headingPage.modificationDate | date("H:i") }}.</p>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>Aucun article enregistré.</p>
        {% endif %}
        <br>
        <a class="btn bg-secondary text-white" href="{{ path('see_headings') }}">Retourner à la liste des rubriques</a>
    </div>
{% endblock %}