{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs - Salle de sport{% endblock %}

{% block pageTitle %}Liste des utilisateurs{% endblock %}
{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('manage_users') }}
{% endblock %}

{% block body %}
    <div class="main">

        {% if users != null %}
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Gérer</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th>{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a class="btn bg-secondary text-white" href="{{ path('modify_user', {'id':user.id}) }}">Modifier</a><br><br>

                            {% if not user.changePassword %}
                                <a class="btn bg-secondary text-white" href="{{ path('reset_password', {'id':user.id}) }}">Renouveler le mot de passe</a><br><br>
                            {% endif %}

                            <a class="btn bg-danger text-white" href="{{ path('delete_user', {'id':user.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>Aucun utilisateur enregistré.</p>
        {% endif %}

        <div class="card">
            <h1 class="card-title">Ajouter un utilisateur</h1>
            {{ form(add_user_form) }}

            {% if msg != null %}
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ msg }}</div>

                {% else %}

                    <div class="alert alert-success" role="alert">{{ msg }}</div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}