{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs - Salle de sport{% endblock %}

{% block pageTitle %}Liste des utilisateurs{% endblock %}
{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('manage_users') }}
{% endblock %}

{% block body %}
    <div class="main">

        {% if users != null %}
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Gérer</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <th>{{ user.id }}</th>
                        <td>{{ user.username }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a class="btn bg-secondary text-white" href="{{ path('modify_user', {'id':user.id}) }}">Modifier</a><br><br>

                            {% if not user.changePassword %}
                                <form method="post" action="{{ path('reset_password', {'id':user.id}) }}">
                                    <input type="submit" class="btn bg-secondary text-white" value="Renouveler le mot de passe">
                                    <input type="hidden" name="_method" value="PUT">
                                </form>
                                <br>
                            {% endif %}

                            <form method="post" action="{{ path('delete_user', {'id':user.id}) }}">
                                <input type="submit" class="btn bg-danger text-white" value="Supprimer">
                                <input type="hidden" name="_method" value="DELETE">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                {{ knp_pagination_render(users) }}
            </div>

        {% else %}
            <p>Aucun utilisateur enregistré.</p>
        {% endif %}

        <div class="card">
            <h1 class="card-title">Ajouter un utilisateur</h1>
            {{ form(add_user_form) }}
        </div>
    </div>
{% endblock %}