{% extends 'base.html.twig' %}

{% block title %}Gestion des utilisateurs - Salle de sport{% endblock %}

{% block pageTitle %}Liste des utilisateurs{% endblock %}
{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('manage_users') }}
{% endblock %}

{% block body %}
    <div class="main">

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Gérer</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <th>{{ user.id }}</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a class="btn bg-secondary text-white" href="#">Modifier</a><br><br>
                        <a class="btn bg-secondary text-white" href="#">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}