{% extends 'base.html.twig' %}

{% block title %}Liste des offres - Salle de sport{% endblock %}

{% block pageTitle %}Liste des offres{% endblock %}
{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('offers') }}
{% endblock %}

{% block body %}
    <div class="main">

        {% if offers != null %}
            {% for row in offers|batch(3) %}
                <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for column in row %}
                    <div class="col">
                        <div class="card-deck mb-3 text-center">
                            <div class="card mb-4 box-shadow">
                                <div class="card-header">
                                    <h4 class="my-0 font-weight-normal">{{ column.name }}</h4>
                                </div>
                                <div class="card-body">
                                    <h1 class="card-title pricing-card-title">{{ column.price }} €<small class="text-muted">/ mois</small></h1>
                                    <p class="card-text">{{ column.characteristics }}</p>
                                    {% if subscribedOffer is null or subscribedOffer.name != column.name %}
                                        {% if not app.user %}
                                            <form method="post" action="{{ path('login') }}">
                                               <button class="btn btn-primary" type="submit">Je m'abonne!</button>
                                            </form>
                                        {% else %}
                                            <form method="post" action="{{ path('subscribe_offer', {'id':column.id}) }}">
                                                <input type="hidden" name="_method" value="put" />
                                                <button class="btn btn-primary" type="submit">Je m'abonne!</button>
                                            </form>
                                        {% endif %}
                                        {% else %}
                                            {% if app.user %}
                                                <form method="post" action="{{ path('unsubscribe_offer', {'id':column.id}) }}">
                                                    <input type="hidden" name="_method" value="put" />
                                                    <button class="btn btn-danger" type="submit">Je me désabonne!</button>
                                                </form>
                                            {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        {% else %}
            <p>Aucune offre disponible actuellement, merci de revenir plus tard.</p>
        {% endif %}
    </div>
{% endblock %}