{% extends 'base.html.twig' %}

{% block title %}Rédaction - Salle de sport{% endblock %}

{% block pageTitle %}Liste des rubriques{% endblock %}
{% block menu %}
    {% import 'macro/menu.html.twig' as macroMenu %}
    {{ macroMenu.menu('write') }}
{% endblock %}

{% block body %}
    <div class="main">

        {% if headings != null %}
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Gérer</th>
                </tr>
                </thead>
                <tbody>
                {% for heading in headings %}
                    <tr>
                        <th>{{ heading.id }}</th>
                        <td>{{ heading.titleHeading }}</td>
                        <td>
                            <a class="btn bg-secondary text-white" href="{{ path('modify_heading', {'id':heading.id}) }}">Modifier</a><br><br>
                            <a class="btn bg-danger text-white" href="{{ path('delete_heading', {'id':heading.id}) }}">Supprimer</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>Aucune rubrique enregistrée.</p>
        {% endif %}

        <div class="card">
            <h1 class="card-title">Ajouter une rubrique</h1>
            {{ form(add_heading_form) }}

            {% if msg != null %}
                {% if error %}
                    <div class="alert alert-danger" role="alert">{{ msg }}</div>

                {% else %}

                    <div class="alert alert-success" role="alert">{{ msg }}</div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
